* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dac1c1;

}

/* style the container */
.container {
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    max-width:600px;
    margin: 0 auto;
    position: relative;

}

.container::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    border-radius: 15px; /* Increase border radius for smoother edges */
    box-shadow: 0 0 45px rgba(0, 123, 255, 0.589); /* Blue glow */
    pointer-events: none; /* Ensure it doesn't interfere with clicks */
}

/* style the quiz title*/
h1 {
    font-size: 24px;
    color: #0f0101;
    text-align: center;

}

/* style the questions*/
.question {
    margin: 20px 0;
    text-align: center;
    margin-bottom: 10px;
}
 /* style the submit button */
 .button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 0.2s;
 }

 .button-hover {
    background-color: #0056b3;
 }
 /* style the results */
 .results {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px;
    text-align: left;

 }

 .results  h2 {
    font-size: 18px;
    color: #333;
 }